<html ng-app="Pokedex">
<head><title>PokeCards: The Online PokeDex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="js/hexagon-chart.js"></script>
  <script type="text/javascript" src="js/pokemons.js">
  </script>
  <link rel="stylesheet" href="styles/style_mob.css"/>
  <link rel="stylesheet" href="styles/style_pc.css"/>
  <link rel="icon" href="images/favicon.png"/>
  <script type="text/javascript" src="js/angular.min.js">
  </script>
  <script type="text/javascript" src="js/app.js">
  </script>
</head>

<body ng-controller="MainController as ctrl">
  <div id="fixedcon">
    <img src="images/banner.png" id="banner_img">
	  <input type="text" ng-model="name" placeholder="Search Pokemon">
  </div>
  <div id="box" ng-show="ctrl.viewinfo" style="background-image: url('images/box_bg/box_{{ctrl.gen}}.jpg');">
    <div id="boxitem">{{ctrl.id}}: {{ctrl.pokemon_name}} ({{ctrl.pokemon_species}})<br></div><br>
    <canvas id="hexagon">
    </canvas>
    <div id="stats">
      <table id="statstab">
        <tr align="left">
          <th>HP:</th>
          <th>{{ctrl.pokemon_hp}}</th>
        </tr>
        <tr align="left">
          <th>Attack:</th>
          <th>{{ctrl.pokemon_atk}}</th>
        </tr>
        <tr align="left">
          <th>Defense:</th>
          <th>{{ctrl.pokemon_def}}</th>
        </tr>
        <tr align="left">
          <th>SP. Attack:</th>
          <th>{{ctrl.pokemon_spatk}}</th>
        </tr>
        <tr align="left">
          <th>SP. Defense:</th>
          <th>{{ctrl.pokemon_spdef}}</th>
        </tr>
        <tr align="left">
          <th>Speed:</th>
          <th>{{ctrl.pokemon_speed}}</th>
        </tr>
        <tr ng-repeat="ability in ctrl.pokemon_abilities" ng-if="ctrl.pokemon_abilities.length">
          <td bgcolor="#ffff99" colspan=2 align="center" style="border:solid 1px black; border-radius:5px;">
            <b>{{ability}}</b>
          </td>
        </tr>
      </table>
    </div>

    <div id="evolve_table" ng-if="ctrl.pokemon_evolution.length">
    <table valign="bottom" align="center" cellspacing=10>
    <caption><b>Evolution Stages</b></caption>
    <tr>
      <th ng-repeat="form in ctrl.pokemon_evolution" style="font-size:{{$index*3+15}};">
        {{form}}
      </th>
    </tr>
    </table>
  </div>
  <div id="close">
  <img src="images/close.png" ng-click="ctrl.closeinfo()" height="40" width="40">
  </div>
  </div>

  <div id="break"></div>


  <div ng-repeat="pokemon in ctrl.pokedata|filter : name|limitTo:20" ng-click="ctrl.showDetails(pokemon)">

    <div id="card" style="background-image: url('images/card_bg/card_bg{{$index%6}}.jpg');">
            <div id="gen">{{pokemon.gen|genplace}}</div>
      <div id="image" style="background-image: url('images/poke_bg/poke_bg{{$index%5}}.jfif');">
        <img ng-src="images/pokemons/{{pokemon.id}}.png" height=200 width=200>
      </div>

      <div id="name">{{pokemon.name}}</div>
      <div  id="typecon" ng-repeat="types in pokemon.type track by $index">
        <div id="type" style="background:#{{types|hexcolor}};">{{types}}</div>
      </div>
      <div id="desc">
        <p ng-hide="pokemon.description.length">No description availabe for this pokemon till now.</p>
        <p ng-show="pokemon.description.length">{{pokemon.description}}</p>
          <div id="height"><img src="images/height.png" height=20 width=20>{{pokemon.height|extract}}</div>
          <div id="weight"><img src="images/weight.png" height=20 width=20>{{pokemon.weight|extract}}</div>
      </div>
    </div>
  </div>


  </body>
  </html>
